@using Gestion.Projet.Bean
@model List<Jalon>

@{
    ViewBag.Title = "Liste des jalons";
}



<div class="row" style="padding-top:25px;padding-bottom:10px;">
    <div class="col-8 col-sm-6">
        <a type="button" href="/" class="btn btn-primary">&laquo; Retour</a>
    </div>
    <div class="col-8 col-sm-6">
        <a type="button" href="/Exigence/Index/@Convert.ToInt32(Session["projet"])" class="btn btn-success">Exigences</a>
    </div>

</div>
@if (ViewBag.Alert != null)
{
    <div class="row">
        <div class="col-lg-8">
            <div class="alert alert-success" role="alert">
                @ViewBag.Result
            </div>
        </div>
    </div>
}
<h2>@ViewBag.Title</h2>
<div class="row">

    <div class="col-lg-8">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Libelle
                    </th>
                    <th>
                        Date livraison
                    </th>
                    <th>
                        Avancement
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td><a role="button" href="/Tache/Index/@item.Id/2" class="list-group-item list-group-item-action">@Html.DisplayFor(modelItem => item.Libelle)</a></td>
                        <td><div class="col-sm-2">@item.Date_livraison.Date</div></td>
                        <td> @item.Etat %</td>
                        <td>
                            <a role="button" href="/Jalon/Edit/@item.Id" class="btn btn-warning">Editer</a>
                            <a role="button" data-toggle="modal" data-target="#confirm-delete" data-href="/Jalon/Delete/@item.Id" class="btn btn-danger">Supprimer</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <input type="button" class="btn btn-default" href="#myModal" value="Ajouter" data-toggle="modal" />
    </div>

</div>
<!-- Modal -->
@using (Html.BeginForm("Create", "Jalon", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="modal fade" id="myModal" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ajouter un jalon</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <label for="libelle">Libelle du jalon:</label>
                    <input type="text" class="form-control" id="libelle" name="libelle" required/>
                    <label for="date_livraison">Date de livraison prevue:</label>
                    <input type="date" class="form-control" id="date_livraison" name="date_livraison" required />
                    <label class="form-control" for="checkbox_new">Ajouter nouveau responsable: </label>
                    <input type="checkbox" id="checkbox_new" onclick="new_user()" />
                    <div id="liste">
                        <label for="ids_users">Responsable du jalon: </label>
                        <select id="ids_users" class="form-control" name="ids_users">
                            @foreach (var item in ViewBag.Utilisateurs)
                            {
                                <option value="@item.Id">
                                    @item.Trigramme
                                </option>
                            }
                        </select>
                    </div>
                    <div id="new_user" hidden>
                        <label for="user_tri">Trigramme du responsable:</label>
                        <input type="text" class="form-control" id="user_tri" maxlength="3" name="user_tri" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Ajouter</button>
                </div>
            </div>
        </div>
    </div>
}

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                Voulez-vous vraiment supprimer ce jalon avec son contenu ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
                <a class="btn btn-danger btn-ok">Oui</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#confirm-delete').on('show.bs.modal', function (e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
        });
    });

    function new_user() {
        if ($("#checkbox_new").is(":checked")) {
            $("#liste *").prop('disabled', true);
            $("#new_user").show();
        } else {
            $("#liste *").prop('disabled', false);
            $("#new_user").hide();
        }
    }
</script>